<!-- <div id="home" style="background-image: url('assets/images/Formal (8).png');"> -->
<div id="home">
    <div fxLayout="row" fxFill>
        <div class="container-1" fxFlex>
            <!-- <div class="picture"> -->
            <img id="myself" src="assets/images/formal.png">
            <!-- </div> -->
        </div>
        <div class="container-2" fxFlex fxLayout="row" fxLayoutAlign="center center">
            <div>
                <h1 class="name">
                    HELLO. I'M ALEC SISON.
                </h1>
                <h2 class="message">
                    WELCOME TO MY PAGE.
                </h2>
                <button class="proceed">
                    <span>KNOW MORE </span>
                </button>
            </div>
        </div>
    </div>
</div>