
<div id="home">
    <div fxLayout="row" fxFill>
        <div class="container-1" fxFlex fxLayoutAlign="row" fxLayoutAlign="none end" fxShow.lg fxHide>
            <div fxFlex="10"></div>
            <div><img id="myself" src="assets/images/formal.png"></div>
        </div>
        <div class="container-2" fxFlex fxLayout="row" fxLayoutAlign="start center" fxFill>
            <div>
                <div fxLayout="row" fxLayoutGap="10px">
                    <button class="social-media-button" fxLayout="row" fxLayoutAlign="center center">
                        <img src="assets/icons/facebook.png" class="social-media-icon">
                    </button>
                    <button class="social-media-button" fxLayout="row" fxLayoutAlign="center center">
                        <img src="assets/icons/twitter.png" class="social-media-icon">
                    </button>
                    <button class="social-media-button" fxLayout="row" fxLayoutAlign="center center">
                        <img src="assets/icons/instagram.png" class="social-media-icon">
                    </button>
                </div>
                <h1 class="name custom-h1">
                    HELLO. I'M ALEC SISON.
                </h1>
                <h2 class="message custom-h2">
                    WELCOME TO MY PAGE.
                </h2>
            </div>
        </div>
    </div>
</div>