<mat-toolbar>
    <mat-toolbar-row>
        <!-- <button mat-icon-button (click)="drawer.toggle()" fxHide.gt-sm> -->
            <button mat-icon-button fxHide.gt-sm>
            <!-- <mat-icon>menu</mat-icon> -->
        </button>
        <div fxLayout="row" fxLayoutAlign="start center" fxFill>
            <div fxFlex="10"></div>
            <span id="brand">ALEC SISON</span>
            <div fxFlex fxLayout="row" fxLayoutAlign="end center" fxHide.lt-md>
                <button class="top-nav-item" href="#" mat-button>HOME</button>
                <button class="top-nav-item" href="#" mat-button>PROJECT</button>
                <button class="top-nav-item" href="#" mat-button>EDUCATION</button>
                <button class="top-nav-item" href="#" mat-button>SKILL</button>
                <button class="top-nav-item" href="#" mat-button>EXPERIENCE</button>
                <button class="top-nav-item" href="#" mat-button>ABOUT</button>
                <button class="top-nav-item" href="#" mat-button>CONTACT</button>
            </div>
            <div fxFlex="10"></div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<!-- <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">

    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div>
  
</mat-drawer-container> -->