<mat-toolbar>
    <mat-toolbar-row>
        <!-- <button mat-icon-button (click)="drawer.toggle()" fxHide.gt-sm> -->
            <!-- <button mat-icon-button fxHide.gt-sm> -->
            <!-- <mat-icon>menu</mat-icon> -->
        <!-- </button> -->
        <div fxLayout="row" fxLayoutAlign.lg="start center" fxLayoutAlign.md="center center" fxFill fxShow.lg fxHide.lt-md>
            <!-- <div fxFlex fxLayout="row" fxLayoutAlign.md="start center" fxHide.lt-md> -->
                <div fxFlex.lg="10"></div>
                <button class="top-nav-item custom-nav" href="#">home</button>
                <button class="top-nav-item custom-nav" href="#">project</button>
                <button class="top-nav-item custom-nav" href="#">education</button>
                <button class="top-nav-item custom-nav" href="#">skill</button>
                <button class="top-nav-item custom-nav" href="#">experience</button>
                <button class="top-nav-item custom-nav" href="#">about</button>
                <button class="top-nav-item custom-nav" href="#">contact</button>
            <!-- </div> -->
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<!-- <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">

    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div>
  
</mat-drawer-container> -->