 .top-nav-item {
    color: #264E86;
    padding: 12px 20px;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.top-nav-item:hover {
    background-color:rgba(88, 210, 255, 0.300);
    border-radius: 10px;
    // color: white;
}

.mat-toolbar {
    position: sticky;
    position: -webkit-sticky;
    // background-color: rgba(41, 41, 41, 0.767);
    // background-color:rgb(215, 244, 255);
    background-color: transparent;
    // background-color: white;
    top: 0;
    z-index: 1000;
}