<mat-toolbar>
    <mat-toolbar-row>
        <!-- <button mat-icon-button (click)="drawer.toggle()" fxHide.gt-sm> -->
            <!-- <button mat-icon-button fxHide.gt-sm> -->
            <!-- <mat-icon>menu</mat-icon> -->
        <!-- </button> -->
        <div fxLayout="row" fxLayoutAlign="start center" fxFill>
            <div fxFlex fxLayout="row" fxLayoutAlign="center center" fxHide.lt-md>
                <button class="top-nav-item custom-nav" href="#">HOME</button>
                <button class="top-nav-item custom-nav" href="#">PROJECT</button>
                <button class="top-nav-item custom-nav" href="#">EDUCATION</button>
                <button class="top-nav-item custom-nav" href="#">SKILL</button>
                <button class="top-nav-item custom-nav" href="#">EXPERIENCE</button>
                <button class="top-nav-item custom-nav" href="#">ABOUT</button>
                <button class="top-nav-item custom-nav" href="#">CONTACT</button>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<!-- <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">

    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div>
  
</mat-drawer-container> -->